@yellow: #f7ff12;
.jumbotron {
    background-image: url(../Imagenes/fondo.jpg);
    color: black;
    margin-top: 50px;
    margin-bottom: 0px; 
}
 .margenes(@top:0px,@bottom:0px) {
    margin-top: @top;
    margin-bottom: @bottom; 
 }
   
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-bottom: 0px;
    .margenes(10px, 0px);
}
  
  .btn-reserva {
    background-color: green;
    color: white;
    width: 100%;
    border-radius: 0px; }
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    .margenes(10px, 0px);
 }
  
  .footer-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .btn-outline-success {
    .margenes(10px, 0px) 
 }
  
  .input-spinner {
    text-align: center;
    border-radius: 5px; }
  
  .btn-outline-info {
    width: 100%; 
}
  